.showmore {
    height: 50px;
    color: white;
    font-size: 12px;
    text-transform: uppercase;
    border: none;
    background-color: rgb(33, 150, 243);
    border-radius: 10px;
    cursor: pointer;
}