.header {
    display: flex;
    padding: 50px;
    align-items: center;
    justify-content: center;
    img {
        height: 60px;
        width: 60px;
        transition: 0.5s;
        cursor: pointer;
        &:hover {
            scale: 1.5;
        }
    }
}