body {
    margin: 0;
    background-color: #F3F7FA;
    display: flex;
    justify-content: center;
    .aviasales {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 960px;
        &__main {
            width: 90%;
            display: flex;
            gap: 20px;
            padding-bottom: 50px;
        }
    }
}
