.ticket {
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px silver;
    display: flex;
    flex-direction: column;
    gap: 18px;
    .top {
        display: flex;
        justify-content: space-between;
        h1 {
            margin: 0;
            color: rgb(33, 150, 243);
            font-size: 24px;
            font-weight: 600;
        }
        img {
            width: 110px;
            height: 36px;
            padding-right: 32px;
        }
    }
    .bottom {
        display: flex;
        flex-direction: column;
        gap: 10px;
        .out {
            display: flex;
            justify-content: space-between;
            flex-direction: row;
            padding-right: 50px;
            .out__container {
                .out__container__title {
                    color: rgb(160, 176, 185);
                    font-size: 12px;
                    line-height: 18px;
                    font-weight: 600;
                    text-transform: uppercase;
                }
                .out__container__info {
                    color: rgb(74, 74, 74);
                    font-size: 14px;
                    font-weight: 600;
                    line-height: 21px;
                    text-transform: uppercase;
                }
            }
        }
        .in {
            display: flex;
            justify-content: space-between;
            flex-direction: row;
            padding-right: 50px;
            .in__container {
                .in__container__title {
                    color: rgb(160, 176, 185);
                    font-size: 12px;
                    line-height: 18px;
                    font-weight: 600;
                    text-transform: uppercase;
                }
                .in__container__info {
                    color: rgb(74, 74, 74);
                    font-size: 14px;
                    font-weight: 600;
                    line-height: 21px;
                    text-transform: uppercase;
                }
            }
        }
    }
}